<div th:fragment="responsabilidades">
	<h4>Responsabilidades</h4>
	<li>El participante acepta el presente reglamento y declara que se encuenntra fisicamente apto y
		entrenado para participar en esta actividad.</li>
	<li>El participante toma conocimiento y acepta voluntariamente, que el Reto del Paramo, los sponsors,
		auspiciantes y/o sus empresas contratadas o vinculadas NO toman a su cargo ni se responsabilizan por
		ningun tipo de indeminizacion, reclamo, costo, daño y/o perjuicio reclamad, incluyendo y no limitado
		a daños por accidentes, daños materiales, fisicos, psiquicos o morales con motivo y en ocasion de la
		actividad fisica en la que participará. </li>
	<li>El participante autoriza a las organizaciones utilizar, reproducir, distribuir y/o publicar
		fotografias, peliculas, videos, grabaciones y/o cualquier otro medio, tomadas con motivo y en
		ocasión del presente ciclo aventura, sin compensación económica alguna a favor del participante</li>
	<li>La organizacion podrá suspender el evento por cuestiones de seguridad publica, actos publicos,
		vandalismo y/o razones de fuerza mayor.</li>
	<li>La organizacion no reembolsara el importe de la inscripcion a los participantes que decidan no
		participar una vez inscritos, cualquiera sea el motivo.</li>
	<li>La participacion en esta carrera implica su responsabilidad por los datos suministrados, su
		aceptacion plena del reglamento, y el pago de los gastos de inscripcion.</li>
	<li>He leido y acepto el <a href="/reglamento">reglamento</a> de la carrera.</li>
	<!--<div class="col-12">
		<div class="form-check">
			<input class="form-check-input" type="checkbox" id="gridCheck">
			<label class="form-check-label" for="gridCheck">
				He leido y acepto el <a href="/reglamento">reglamento</a> de la carrera.
			</label>
		</div>
	</div>-->

</div>