<!DOCTYPE html>
<html>
<div th:replace="fragments/header" :: header>
</div>

<body>
	<div th:replace="fragments/navbar" :: navbar>
	</div>
	<div class="container-sm">
		<h1>Reglamento</h1>
		<ol type="1">
			<li>Cada participante se compromete a respetar y aceptar los lineamientos que el organizador indique para
				el
				desarrollo del ciclo aventura.</li>
			<li>Es obligatorio:</li>
			<ol type="a">
				<li>El uso de casco rigidio y guantes</li>
				<li>Tener bicicleta en buenas condiciones, bien regulados los frenos y llantas en buen estado.</li>
				<li>No presentarse en estado etilico.</li>
				<li>No tener enfermedades cardiacas.</li>
			</ol>
			<li>Cuando un participante no se encuentra en condiciones para mantener el ritmo de la caravana u horario
				previsto
				debera subir al auto - escoba para no obstaculizar el tráfico y el desarrollo de la ruta.</li>
			<li>Los deportistas menores de edad deberan presentar un documento de autorización firmado por el
				representante,
				indicando el permiso respectivo para participar en dicho evento.</li>
			<li>El uso de la via solo sera de un carril es decir el carril derecho en las vias a utilizar en el
				recorrido
				del
				evento.</li>
			<li>La organización no se hace responsable por posibles accidentes mortales o con lesiones dentro de la
				marcha
				del evento.</li>
			<li>Cada participante acepta los riesgos inherentes a su participacion, sobre todo los riesgos de salud,
				caida y
				colision, asi como los riesgos referidos al trafico rodado y a las adversas condiciones atmosfericas.
			</li>
			<li>Esta prohibido el uso de botellas de vidrio, asi como arrojar basura en los sectores por donde pasara
				el
				recorrido.</li>
			<li>Se brindará servicios de primeros auxilios. </li>

			</o>

	</div>

</body>
<div th:replace="fragments/footer" :: footer>
</div>

</html>

</html>

</html>