<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:replace="header" :: header>
</div>

<body>
	<div th:replace="navbar" :: navbar>
	</div>
	<div class="container-sm">
		<form action="#" th:action="@{/register}" th:object="${user}" method="post">
			<div alight="left">
				<tr>
					<label class="form-label">Nombre</label>
					<td>
						<input type="hidden" th:field="*{id}" />
						<input type="text" th:field="*{firstname}" class="form-control" />
					</td>
				</tr>
			</div>
			<div alight="left">
				<tr>
					<label class="form-label">Apellido</label>
					<td><input type="text" th:field="*{lastname}" class="form-control" /></td>
				</tr>
			</div>
			<div alight="left">
				<tr>
					<label class="form-label">Email</label>
					<td><input type="email" th:field="*{email}" class="form-control" /></td>
				</tr>
			</div>

			<div alight="left">
				<tr>
					<label class="form-label">Contraseña</label>
					<td><input type="password" th:field="*{password}" class="form-control" required minlength="6"
							maxlength="10" /></td>
				<tr>
			</div>
			<div class="form-group form-check">
				<input type="checkbox" class="form-check-input" id="exampleCheck1" required>
				<label class="form-check-label" for="exampleCheck1">Acepto los<a href="/terms"> Terminos y
						condiciones</a></label>
			</div>
			<div class="d-flex justify-content-center" style="padding: 3%;">
				<td><button type="submit" class="btn btn-dark">Registrarse</button></td>
			</div>
			</table>
		</form>
	</div>





</body>
<div th:replace="footer" :: footer>
</div>

</html>